.activity-card {
  display: flex;
  flex-direction: column;
  background-color: #ddefe0;
  padding: 10px 36px;
  border-radius: 10px;
  width: 221px;
  height: 126px;
  margin: inherit;
}
.icon {
  width: 22px;
  align-self: flex-end;
}
.act-text {
  color: #000;
  font-size: 14px;
  font-family: Lato;
}
.act-num {
  color: #000;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 600;
  margin-top: 0.5em;
}
