.dashboard-and-nav-container {
  display: flex;
  min-height: 100vh;
  padding: 30px;
  justify-content: space-between;
  background-color: #f5f5f5;
}
.navbar {
  width: 20%;
  background-color: #000000;
  border-radius: 12px;
}
.dashboard {
  width: 78%;
}
.head-with-elements-container {
  display: flex;
  flex-direction: column;
  padding: 8px 30px;
  justify-content: space-between;
  height: 100%;
}
.nav-head {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
}
.list-container {
  list-style-type: none;
  padding: 0;
}
.nav-item {
  color: #fff;
  font-size: 14px;
  font-family: Montserrat;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  cursor: pointer;
}
.nav-icons {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.active {
  font-weight: 600;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-options-container {
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: space-between;
}
.main-header {
  color: #000;
  font-size: 24px;
  font-family: Montserrat;
  font-weight: 700;
}
.search-container {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 6px 8px;
  border-radius: 6px;
}
.search {
  padding: 4px;
  outline: none;
  border: 0;
}
.search-icon {
  width: 16px;
}
.avatar {
  border-radius: 50%;
}
.activity-card-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.line-graph-container {
  width: 100%;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 14px;
}
.act-name {
  color: #000;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 700;
}
.date {
  color: var(--secondary-text, #858585);
  font-size: 14px;
  font-family: Montserrat;
  display: flex;
  align-items: center;
}
.arrow {
  margin-left: 5px;
}
.card-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pie-chart-card {
  background-color: #ffffff;
  border-radius: 14px;
  padding: 20px;
  margin-top: 40px;
  width: 48%;
  display: flex;
  flex-direction: column;
}
.pie-chart-calender {
  display: flex;
  align-items: center;

  justify-content: space-between;
}
.pie-chart-container {
  width: inherit;
}
.meet-name {
  color: #666;
  font-size: 13px;
  font-family: Lato;
  font-weight: 700;
}
.timings {
  color: var(--icon, #999);
  font-size: 12px;
  font-family: Lato;
  margin-top: 0.5em;
}
